<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error auth</title>
    <link rel="stylesheet" href="{%static 'css/styles.css' %}">
    <link rel="stylesheet" href="{%static 'icons/styles.css' %}">
</head>

<body>

    <div class="error_container">
        <div class="error">
            <div class="error_error">
                <h2 class="icon-times-circle"></h2>
                <div class="sms_error">
                    <div class="sms">
                        <h1>! Tu cuenta ha sido bloqueada por intentar iniciar sesión incorrectamente varias veces. Por favor,
                            inténtalo de nuevo en unos minutos !</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>